PORT=8337
ENVIRONMENT=development
GITHUB_TOKEN=
POEDITOR_CALLBACK_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_MOD_TOKEN=
PLUGIN_MOD_ORG=AvengeMedia
PLUGIN_MOD_TEAM=plugin-moderators
DISCORD_WEBHOOK_URL=
UPLOAD_TOKEN=
UPLOAD_DIR=/data/uploads
CACHE_DIR=/data/cache
